node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
.env
.env.*
!.env.example
.firebase
firebase-debug.log
firestore-debug.log
database-debug.log
functions/lib
.local-info
firmware/edge/spike_mint/src/local_secrets.h
firmware/edge/device/platformio.local.ini
firmware/edge/**/.pio